
.main_background{
	background-color: grey;
	width:1442px;
	height:770px;
}

.form_background{
	background-color: white;
	border:2px;
	margin-top: 270px;
	margin-left: 550px;
	float:left;
	width:350px;
	height: 120px;
}

.table{
	background-color:250px;
	margin-top:20px;
	margin-left:35px;
}

#tr{
	background-color:red;
	width:60px;
}

tr{
	background-color:lightgray;
	margin-top:30px;
	font-size:20px;
	height:25px;
}

.button{
	margin-top:5px;
	margin-left:40px;
}
